* {
	box-sizing: border-box;
	margin: 0;
	border-collapse: collapse;

	/* max-width: 1200px; */
}

body {
	font-family: Helvetica, sans-serif;
	max-width: 1200px;
	margin: 0 auto !important;
	float: none !important;
}
