.grad {
	background-image: linear-gradient(to right, #ffc2b0, #ffa3a7);
}

nav {
	width: 100vw;
	height: 5vw;
	padding: 10px;
}

nav div {
	padding: 1vw;
	position: relative;
	display: inline-block;
	font-size: 25px;
	width: fit-content;
	height: 4vw;
}

#søk {
	position: absolute;
	right: 5vw;
	margin-left: 70vw;
}

.mar {
	width: 100vw;
}

h3 {
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	height: 6vw;
	background: white;
	color: #ffaeab;
	padding: 2vw;
}

.galvan {
	position: absolute;
	font-size: 40px;
	top: 50vw;
	left: 70vw;
	color: #ffaeab;
}

.heart {
	display: inline-block;
	position: relative;
	width: 30vw;
	height: 40vw;
	background-color: white;
	margin-top: 2vw;
	margin-left: 2vw;
	padding: 1vw;
	border-radius: 10px;
}

section div p {
	position: relative;
	color: #ffaeab;
}

section div div img {
	margin-top: 5vw;
	margin-left: 10vw;
	width: 120px;
	height: 120px;
}

section {
	margin-top: 2vw;
}

section section h3 {
	width: 100vw;
	background: white;
}

.hvorfor {
	display: inline-block;
	color: white;
	font-size: 40px;
	margin: 10vw;
}

.contact {
	display: inline-block;
	width: 30vw;
	height: 40vw;
	margin: 1.5vw;
	background: white;
}

.contact img {
	text-align: center;
}

.contact div {
	text-align: center;
}
