.grad {
	background-image: linear-gradient(to right, #ffc2b0, #ffa3a7);
}

nav {
	width: 100%;

	background-image: linear-gradient(to right, #ffc2b0, #ffa3a7);
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 4fr;
}

nav a {
	font-size: 25px;
	color: black;
}

.center {
	padding-top: 15%;
}

nav :nth-child(6) {
	text-align: right;
	padding-right: 5%;
	padding-top: 5%;
}

nav img {
	width: 5vw;
}

.mar img {
	width: 100%;
}

.mar h2 {
	position: absolute;
	font-size: 40px;
	top: 50%;
	left: 70%;
	color: #ffaeab;
}

h3 {
	text-align: center;
	font-weight: normal;
	font-size: 40px;
	height: 6vw;
	background: white;
	color: #ffaeab;
	padding: 1vw;
}

section div div img {
	margin-top: 5vw;
	margin-left: 10vw;
	width: 120px;
	height: 120px;
}

.main section {
	background: white;
	margin-bottom: 3vw;
	padding: 2vw;
	font-size: 30px;
}

h1 {
	font-size: 50px;
}

.flex-container {
	width: 100%;

	margin: 30px auto;

	background-image: linear-gradient(to right, #ffc2b0, #ffa3a7);
	display: flex;
	flex-direction: row;
	flex-flow: row;
	justify-content: space-evenly;
}

.flex-item {
	width: 25%;

	padding-top: 3vw;
	padding-left: 1vw;
	padding-right: 1vw;
	border: 4px;
	border-radius: 10px;
	background: white;
	text-align: center;
}

.flex-item p {
	font-size: 20px;
	margin: 10%;
}

.img {
	width: 40%;
	border-radius: 100vw;
}
.choose {
	font-size: 40px;

	position: absolute;
	left: 52vw;
	margin-top: 22vw;
	display: inline-block;
	color: white;
}

.cirkle {
	font-size: 35px;
	text-align: center;
	width: 40px;
	height: 40px;
	color: white;
	background: #ffa3a7;
	border-radius: 50%;
}

.push {
	padding-left: 4vw;
	padding-right: 4vw;
}

.form {
	background-color: white;
	padding-left: 4vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
}

label {
	font-size: 30px;
}

input {
	height: 4vw;
	width: 16vw;
	margin-bottom: 1vw;
}
